<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Group 08</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css//login.css" />

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" /> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- modal form đăng nhập -->
  <div class="modal" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <!-- <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->

        <!-- Modal body -->
        <div class="modal-body">
          <div class="loginform">
            <div class="logo">
              <img src="/images/logo.png" alt="" />
            </div>
            <form id="loginForm" action="" class="login">
              <h3> <span class="left">LOGIN</span> <span>FORM</span> </h3>
              <input name="username" type="text" placeholder="User Name" class="name" /><br />
              <!-- <input type="password" placeholder="Password" class="pass" /><br />
              <div class="forget">
                <a href="">Forgetten Password?</a>
              </div> -->
              <input type="submit" value="LOGIN" class="btn-log" /><br>
              <a href="">You don't have any account?</a>
            </form>
          </div>
        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->

      </div>
    </div>
  </div>
  <!-- end modal form đăng nhập -->
  <!-- modal thông báo -->
  <div class="modal" id="informModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="loginform">
            <div class="logo">
              <img src="/images/logo.png" alt="" />
            </div>
            <form id="" action="" class="login">
              <h3> <span class="left">THÔNG</span> <span>BÁO</span> </h3>
              <p id="thongbaochotdeal"></p>
              
              <input type="submit" value="OKE" class="btn-log" /><br>
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- end modal thông báo -->


  <div class="bg-image">
    <div class="img">
      <img src="/images/backgr.jpg" alt="" />
    </div>
  </div>
  <div class="nav-bar">
    <div class="bar-container">
      <div class="img"><img src="/images/logo.png" alt="" /></div>
      <div class="right">
        <ul class="f">
          <li>Support: <span> geny.auc@gmail.com</span></li>
          <li><i class="a fas fa-user-circle" data-a=".a01"></i> <span id="username"></span></li>
        </ul>
        <div class="a01 a00">
          <ul>
            <li class="rs"><a href="">Account</a></li>
            <li class="rs"><a href="">Top Up </a></li>
            <li class="rs"><a href="">History</a></li>
            <li class="rs"><a href="">Setting</a></li>
            <li class="rs"><a href="">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main-container">
      <div class="search-bar">
        <i class="a fas fa-clipboard-list" data-a=".a02"></i>
        <div class="a02 a00">
          <ul>
            <li class="filter" data-filter="img1">Clock</li>
            <li class="filter" data-filter="img2">Picture</li>
            <li class="filter" data-filter="img3">Car</li>
            <li class="filter" data-filter="img4">Vase</li>
            <li class="filter" data-filter="img5">Table</li>
            <li class="filter" data-filter="img6">Chair</li>
          </ul>
        </div>
        <div class="search">
          <input type="search" placeholder="Search..." />
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="aucnow">
        <div class="aucnow-container">
          <div class="img">
            <img id="itemAVT" src="/images/1.jpg" alt="" />
          </div>
          <div class="detail">
            <h3 id="itemName">Sản phẩm NHỨC NÁCH</h3>
            <p id="itemDescription">
              miêu tả sản phẩm
            </p>
            <div id="logDeal">

            </div>
            <div class="timeRe">TimeRemaining: <span id="timer">00:00:00</span></div>
            <div class="decribe">
              <div class="price">
                <span class="space">Giá khởi điểm: $<span id="itemStartCost">30</span></span>
                <span class="space">Bước giá: $<span id="itemStepCost">2</span></span>
                <span class="space">Giá hiện tại: $<span style="color: blue;" id="itemEndCost">30</span></span>
              </div>
            </div>
            <form id="auctionForm" class="join">
              <input type="number" placeholder="Nhập giá" name="cost" id="">
              <input class="btn-join" type="submit" value="Đấu giá ngay" />
            </form>

          </div>
        </div>
      </div>
      <div class="items">
        <p class="next">The Next Auction Item : </p>
        <div class="items-container">
          <div class="img img1" data-acpfilter="img1">
            <img src="/images/1.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img2" data-acpfilter="img2">
            <img src="/images/2.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img3" data-acpfilter="img3">
            <img src="/images/3.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img2" data-acpfilter="img2">
            <img src="/images/4.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img1" data-acpfilter="img1">
            <img src="/images/5.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img1" data-acpfilter="img1">
            <img src="/images/6.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img3" data-acpfilter="img3">
            <img src="/images/7.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img4" data-acpfilter="img4">
            <img src="/images/8.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img2" data-acpfilter="img2">
            <img src="/images/9.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img3" data-acpfilter="img3">
            <img src="/images/10.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
          <div class="img img2" data-acpfilter="img2">
            <img src="/images/5.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
            <p>$50</p>
            <span>TimeRemaining:</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-container">
      <div class="contact">
        <h5><span class="left">GENY</span> <span>AUCTION</span></h5>
        <p>geny.auc@gmail.com</p>
      </div>
    </div>
  </div>

  <script src="/javascripts/index.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var item = {}
    var bodemnguoc
    // show form login
    var socket = io();
    $(window).on('load', FirstLoad());

    // load khi trang load xong
    // yêu cầu đăng nhập
    function FirstLoad() {
      let name = sessionStorage.getItem('username')
      if (name) {
        document.querySelector('#username').innerHTML = name
        socket.emit('new user', name)
      } else {
        $('#loginModal').modal('show');
      }
    }

    const divTimer = document.querySelector('#timer')
    function countDown(h, m, s) {
      s -= 1
      if (s === -1) {
        m -= 1
        s = 59
      }
      if (m === -1) {
        h -= 1
        m = 59
      }
      if (h == -1) {
        if (item.id) {
          clearTimeout(bodemnguoc);
          socket.emit("time out", item.id)
        }
        return

      }
      divTimer.textContent = `${h}:${m}:${s}`
      console.log(h, m, s);
      return [h, m, s]
    }


    // bộ đếm ngược
    socket.on('timer', (h, m, s) => {
      bodemnguoc = setInterval(() => {
        [h, m, s] = countDown(h, m, s)
      }, 1000)
    })

    // hiển thị sản phẩm
    displayInfoItem()
    // hiển thị lịch sử ra giá
    displayLogDeal()

    // thêm 1 user vào danh sách user
    const formLogin = document.querySelector('#loginForm')
    formLogin.addEventListener('submit', (e) => {
      e.preventDefault()
      let name = e.target.username.value
      sessionStorage.setItem('username', name)
      document.querySelector('#username').innerHTML = name
      socket.emit('new user', name)
      $('#loginModal').modal('hide');
    })

    // đấu giá
    const auctionForm = document.querySelector('#auctionForm')
    auctionForm.addEventListener('submit', (e) => {
      e.preventDefault()
      let cost = e.target.cost.value
      let username = sessionStorage.getItem('username')
      // giá deal >= giá cuối + bước giá ?
      if (cost >= item.end_cost + item.step_cost) {
        if (username) {
          socket.emit('deal', cost, username) // sẽ nhận lại update deal
          e.target.cost.value = ""
        } else {
          alert("Vui lòng đăng nhập")
          FirstLoad()
        }
      } else {
        alert("Vui lòng nhập giá hợp lệ")
      }
    })

    // cập nhật sản phẩm sau khi 1 người deal thành công
    const divLogDeal = document.querySelector('#logDeal')
    socket.on('update deal', (end_cost, username, time, item_end_cost) => {
      // thêm 1 lịch sử deal 
      let p = document.createElement("p")
      p.innerHTML = `<span style="color:blue">${username}</span> đã ra giá: <span style="color:blue">$${end_cost}</span> lúc ${time}`
      divLogDeal.insertAdjacentElement("afterbegin", p) // chèn vào vị trí đầu tiên
      // update end_cost
      itemEndCost.textContent = end_cost
    })


    // display thông tin sản phẩm
    const itemName = document.querySelector('#itemName')
    const itemDescription = document.querySelector('#itemDescription')
    const itemStartCost = document.querySelector('#itemStartCost')
    const itemStepCost = document.querySelector('#itemStepCost')
    const itemEndCost = document.querySelector('#itemEndCost')
    const itemAVT = document.querySelector('#itemAVT')

    function displayInfoItem() {
      socket.on('display item', (currentItem, items,index) => {
        console.log("display", currentItem);
        // hiện tt vật phẩm chính
        item = currentItem // lưu thông tin vật phẩm ở client
        itemName.innerHTML = currentItem.name
        itemDescription.innerHTML = currentItem.description
        itemStartCost.innerHTML = currentItem.start_cost
        itemStepCost.innerHTML = currentItem.step_cost
        itemEndCost.innerHTML = currentItem.end_cost
        itemAVT.src = currentItem.img

        // danh sách các vật phẩm tiếp theo
        var html = ""
        for (let i = index; i < items.length; i++) {
          html += `
            <div class="img img3" data-acpfilter="img3">
              <img src="${items[i].img}" alt="" />
              <p>${items[i].name}</p>
              <p>$${items[i].start_cost}</p>
              <span>TimeRemaining</span>
            </div>
          `
        }
        let div = document.querySelector('.items-container')
        div.innerHTML = html

      })
    }

    // display lịch sử deal
    function displayLogDeal() {
      socket.on("log deal", (log_deal) => {
        for (const d of log_deal) {
          let p = document.createElement("p")
          p.innerHTML = `<span style="color:blue">${d.nickname}</span> đã ra giá: <span style="color:blue">$${d.deal_cost}</span> lúc ${d.time}`
          divLogDeal.insertAdjacentElement("afterbegin", p) // chèn vào vị trí đầu tiên
        }
      })
    }

    // thông báo người mua thành công
    socket.on("chot deal", (username, itemname, price)=>{
      let p = document.querySelector("#thongbaochotdeal")
      console.log("chot deal");
      if(username){
        p.textContent = `Chúc mừng ${username} đã mua thành công sản phẩm ${itemname} với giá $${price}`
      }else{
        p.textContent = `Sản phẩm ${itemname} với giá $${price} không có ai mua, xin xem sản phẩm tiếp theo`
      }
      $('#informModal').modal("show")
      setTimeout(()=>{
        location.reload()
      },3000)
    })

    // thông báo hết sản phẩm
    socket.on("het san pham dau gia" ,()=>{
      alert("sản phẩm đấu giá hôm nay đã hết, vui lòng quay lại sau!")
      location.reload()
    })

  </script>
</body>

</html>