<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room</title>
    <link rel="stylesheet" href="../CSS/room.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="bg-image">
      <div class="img">
        <img src="../Image/backgr.jpg" alt="" />
      </div>
    </div>
    <div class="nav-bar">
      <div class="bar-container">
        <div class="img"><img src="../Image/logo.png" alt="" /></div>
        <div class="right">
          <ul class="f">
            <li>Support: <span> geny.auc@gmail.com</span></li>
            <li><i class="a fas fa-user-circle" data-a=".a01"></i></li>
          </ul>
          <div class="a01 a00">
            <ul>
              <li class="rs">Account</li>
              <li class="rs">Top Up</li>
              <li class="rs">History</li>
              <li class="rs">Setting</li>
              <li class="rs">Log out</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="main-container">
        <div class="aucnow">
          <div class="aucnow-container">
            <div class="img">
              <img src="../Image/1.jpg" alt="" />
            </div>
            <div class="detail">
              <h4>Item Name</h4>
              <br/>
              <textarea name="" id="" cols="60" rows="10"></textarea>
              <div class="decribe">
                <div class="price">
                  <p>TimeRemaining:</p>
                  <p>$30</p>
                  <p>$50</p>
                </div>
              </div>
              <div class="sub">
                <input type="number" placeholder="$">
                <input class="btn-sub" type="submit" value="Submit" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-container">
        <div class="contact">
          <h5> <span class="left">GENY</span> <span>AUCTION</span> </h5>
          <p>geny.auc@gmail.com</p>
        </div>
      </div>
    </div>
  </body>
</html>
