<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../CSS/signup.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="bg-image">
      <div class="img">
        <img src="../Image/backgr.jpg" alt="" />
      </div>
    </div>
    <div class="nav-bar">
      <div class="bar-container">
        <div class="img"><img src="../Image/logo.png" alt="" /></div>
        <div class="right">
          <ul class="f">
            <li>Support: <span> geny.auc@gmail.com</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="main-container">
        <div class="signupform">
          <div class="logo">
            <img src="../Image/logo.png" alt="" />
          </div>
          <form action="" class="signup">
            <h3> <span class="left">SIGN UP</span>  <span>FORM</span> </h3>
            <input type="text" placeholder="User Name" class="user"/><br />
            <input type="password" placeholder="Password" class="pass"/><br />
            <input type="text" placeholder="Your Fullname" class="name"/><br />
            <input type="tel" placeholder="Phone Number" class="tel"/><br />
            <input type="email" placeholder="Email" class="mail"/><br />
            <input type="button" value="SIGN UP" class="btn-signup"/>
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-container">
        <div class="contact">
          <h5> <span class="left">GENY</span> <span>AUCTION</span> </h5>
          <p>geny.auc@gmail.com</p>
        </div>
      </div>
    </div>
  </body>
</html>
