* {margin: 0; padding: 0;box-sizing: border-box;}

body, html {
    width: 100%;
    height: 100%;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity:0.2 ;
}
.bg-image .img {
    width: 100%;
    height: 100%;
}
.bg-image img {
    width: 100%;
    height: 100%;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    background-color: white;
}
.nav-bar .bar-container {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .img {
    width: 7%;
    cursor: pointer;
}
.nav-bar img {
    width: 100%;
}
.nav-bar .right ul.f {
    padding-top: 1rem;
    display: flex;
    list-style: none;

}
#username {
    
}
.nav-bar .right ul li {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.nav-bar .right ul li span {
    color: #f36d21;
    cursor: pointer;
}
.nav-bar .right li i {
    margin-left: 50px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
}
.nav-bar .right li i:hover {
    background-color: #f36d21;
}
.nav-bar .right {
    position: relative;
}
.nav-bar .a01 {
    position: absolute;
    right: 0;
    top: 50px;
    width: 150px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.nav-bar .a01 ul {
    padding: 10px 20px;
    list-style: none;
    margin-bottom: 0;
}
.nav-bar .a01 ul li {
    font-weight: normal;
    transition: 0.4s;
}
.nav-bar .a01 ul li:hover {
    color: #f36d21;
    cursor: pointer;
}
.main {
    width: 100%;
    padding-top: 6%;
}
.main .main-container {
    width: 75%;
    margin: auto;
}
.main .search-bar {
    position: relative;
    padding: 15px 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
}
.main .search-bar i.a {
    font-size: 25px;
    padding: 7px 10px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.main .search-bar i.a:hover {
    background-color: #f36d21;
}
.main .search-bar .a02 {
    position: absolute;
    left: 0;
    top: 70px;
    width: 200px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.active {
    background-color: #f36d21;
}
.show {
    opacity: 1;
    visibility: visible!important;
}
.main .search-bar .a02 ul {
    padding: 10px 20px;
    list-style: none;
}
.main .search-bar .a02 ul li {
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.main .search-bar .a02 ul li:hover {
    color: #f36d21;
}

.main .search-bar .search {
    width: 70%;
}
.main .search input {
    width: 95%;
    border: none;
    border-right: rgb(189, 189, 189) 0.5px solid;
    padding: 5px 10px;
    outline: none;
}
.main .search {
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    box-sizing: border-box;
}
.main .search button {
    border: none;
    outline: none;
    background-color: white;
}
.main .search i {
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
}
.main .search i:hover {
    color: #f36d21;
}

.main .items,
.main .aucnow {
    margin-top: 30px;
    width: 100%;
    padding-top: 20px;
    background-color: white;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
}
.main .aucnow .aucnow-container {
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .aucnow .img {
    width: 50%;
    padding: 10px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    cursor: pointer;
}

.main .aucnow .img::before {
    position: absolute;
    content: 'Auctioning...';
    color: white;
    padding: 10px;
    border-bottom-right-radius: 5px;
    background-color: #f36d21;
}
.main .aucnow .detail {
    width: 45%;
}
.main .detail .join input {
    padding: 5px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}
.main .detail input.btn-join {
    font-weight: bold;
    padding: 5px 15px;
    background-color: white;
    transition: 0.4s;
}
.main .detail input.btn-join:hover {
    background-color: #f36d21;
    color: white;
}

.main p.next {
    font-weight: bolder;
    padding: 10px;
    padding-left: 40px;
    color: white;
    background-color: #f36d21;
}
.main .items span {
    color: #f36d21;
}
.main .items-container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.main .items .img {
    width: 23%;
    padding: 10px;
    margin: 1%;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    transition: 2s;
    cursor: pointer;
}
.main .items img,
.main .aucnow img {
    width: 100%;
}

/* .main .items-detail {
    position: fixed;
    top: 15%;
    left: 10%;
    width: 80%;
    padding: 2% 5%;
    background-color: white;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.main .items-detail .img {
    width: 40%;
}
.main .items-detail .text {
    width: 50%;
}
.main .items-detail .decribe {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.main .items-detail .submit input {
    padding: 5px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}
.main .items-detail input.btn-sub {
    font-weight: bold;
    padding: 5px 10px;
    background-color: white;
    transition: 0.4s;
}
.main .items-detail input.btn-sub:hover {
    background-color: #f36d21;
}
.main .exit {
    position: fixed;
    z-index: 3;
    right: 13%;
    top: 22%;
}
.main .exit i {
    font-size: 20px;
    cursor: pointer;
} */
.footer {
    width: 100%;
    margin-top: 30px;
    background-color: white;
}
.footer .footer-container {
    width: 75%;
    margin: auto;
}
.footer .contact {
    padding: 20px 0 10px 0;
}
.footer .contact span {
    color: #f36d21;
}
.footer .contact span.left {
    /* color: black; */
}
.footer p {
    padding-top: 10px;
    font-weight: bolder;
    color: #f36d21;
}


#logDeal {
    width: auto;
    height: 300px;
    border: black 1px solid;
    overflow: auto;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    padding: 10px;
}
.main .timeRe {
    margin: 10px 0;
    font-weight: bolder;
}
.main .timeRe span {
    color: #f36d21;
}
.main .aucnow .price span.space {
    padding-right: 30px;
}
.main .aucnow .price span.space span {
    font-weight: bolder;
}