* {margin: 0; padding: 0;box-sizing: border-box;}

body, html {
    width: 100%;
    height: 100%;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity:0.2 ;
}
.bg-image .img {
    width: 100%;
    height: 100%;
}
.bg-image img {
    width: 100%;
    height: 100%;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    background-color: white;
}
.nav-bar .bar-container {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .img {
    width: 7%;
    cursor: pointer;
}
.nav-bar img {
    width: 100%;
}
.nav-bar .right ul.f {
    padding-top: 1rem;
    display: flex;
    list-style: none;

}
.nav-bar .right ul li {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.nav-bar .right ul li span {
    color: #f36d21;
    cursor: pointer;
}

.modal-body {
    width: 100%;
    padding-top: 6%;
}
.modal-body .modal-body-container {
    width: 40%;
    margin: auto;
    padding: 15px 20px;
    background-color: white;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
}
.modal-body .loginform {
    width: 90%;
    margin: auto;
    padding: 50px;
}
.modal-body .logo {
    width: 50%;
    margin: auto;
}
.modal-body img {
    width: 100%;
    margin-bottom: 50px;
}
.modal-body form.login {
    width: 90%;
    margin: auto;
    text-align: center;
}
.modal-body span.left {
    font-weight: bolder;
    color: #f36d21;
}
.modal-body span {
    font-weight: bolder;
    color: black;
}
.modal-body input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    outline: none;
}
.modal-body input.btn-log {
    width: 50%;
    font-weight: bolder;
    color: rgb(75, 75, 75);
    transition: 0.4s;
}
.modal-body input.btn-log:hover {
    color: white;
    background-color: #f36d21;
}
.modal-body a {
    text-decoration: none;
    margin-top: 10px;
    color: black;
    transition: 0.4s;
}
.modal-body .forget {
    text-align: end;
}
.modal-body a:hover {
    color: #f36d21;
    text-decoration: none;
}

.footer {
    width: 100%;
    margin-top: 30px;
    background-color: white;
}
.footer .footer-container {
    width: 75%;
    margin: auto;
}
.footer .contact {
    padding: 20px 0 10px 0;
}
.footer .contact span {
    color: #f36d21;
}
.footer .contact span.left {
    color: black;
}
.footer p {
    padding-top: 10px;
    font-weight: bolder;
    color: #f36d21;
}
