* {margin: 0; padding: 0;box-sizing: border-box;}

body, html {
    width: 100%;
    height: 100%;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity:0.2 ;
}
.bg-image .img {
    width: 100%;
    height: 100%;
}
.bg-image img {
    width: 100%;
    height: 100%;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    background-color: white;
}
.nav-bar .bar-container {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .img {
    width: 7%;
    cursor: pointer;
}
.nav-bar img {
    width: 100%;
}
.nav-bar .right ul.f {
    padding-top: 1rem;
    display: flex;
    list-style: none;

}
.nav-bar .right ul li {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.nav-bar .right ul li span {
    color: #f36d21;
    cursor: pointer;
}
.nav-bar .right li i {
    margin-left: 50px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
}
.nav-bar .right li i:hover {
    background-color: #f36d21;
}
.nav-bar .right {
    position: relative;
}
.nav-bar .a01 {
    position: absolute;
    right: 0;
    top: 50px;
    width: 150px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.nav-bar .a01 ul {
    padding: 10px 20px;
    list-style: none;
    margin-bottom: 0;
}
.nav-bar .a01 ul li {
    font-weight: normal;
    transition: 0.4s;
}
.nav-bar .a01 ul li:hover {
    color: #f36d21;
    cursor: pointer;
}


.main {
    width: 100%;
    padding-top: 6%;
}
.main .main-container {
    width: 75%;
    margin: auto;
}
.main .aucnow {
    margin-top: 30px;
    width: 100%;
    padding-top: 20px;
    background-color: white;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
}
.main .aucnow .aucnow-container {
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .aucnow .img {
    width: 50%;
    padding: 10px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    cursor: pointer;
}
.main img {
    width: 100%;
}
/* .main .aucnow .img::before {
    position: absolute;
    content: '';
    color: white;
    padding: 10px;
    border-bottom-right-radius: 5px;
    background-color: #f36d21;
} */
.main .aucnow .detail {
    width: 45%;
}
.main textarea {
    outline: none;
    padding: 10px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
}
.main .detail .sub input {
    padding: 5px;
    border: rgb(189, 189, 189) 0.5px solid;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}
.main .detail input.btn-sub {
    font-weight: bold;
    padding: 5px 10px;
    background-color: white;
    transition: 0.4s;
}
.main .detail input.btn-sub:hover {
    background-color: #f36d21;
    color: white;
}


.footer {
    width: 100%;
    margin-top: 30px;
    background-color: white;
}
.footer .footer-container {
    width: 75%;
    margin: auto;
}
.footer .contact {
    padding: 20px 0 10px 0;
}
.footer .contact span {
    color: #f36d21;
}
.footer .contact span.left {
    color: black;
}
.footer p {
    padding-top: 10px;
    font-weight: bolder;
    color: #f36d21;
}
