<!DOCTYPE html>
<html>

<head>
    <title>Danh sách vật phẩm đấu giá</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Danh sách vật phẩm đấu giá</h1>
    <p>Welcome to GENY AUCTION</p>
    <div id="danh-sach-vat-pham-dau-gia">
      
    </div>
    <script src="javascripts/get_items.js"></script>
    <!-- <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script> -->
</body>

</html>