<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    window.onload = () => {
      $('#form_deal').hide()
    }
  </script>
</head>

<body>
  <form id="form_login" action="">
    <input type="text" name="username" id="username" placeholder="Nhập nickname của bạn">
    <input type="submit" value="Login">
  </form>
  <form id="form_deal" action="">
    <p>Chào <span id="nickname"></span></p>
    <p>Tên vật phẩm: <span id="item_name"></span></p>
    <p>Giá khởi điểm: <span id="item_cost_start"></span></p>
    <p>Giá hiện tại: <span id="item_cost_last"></span></p>
    <p>Bước giá: <span id="item_cost_step"></span></p>
    <input type="number" name="deal_cost" id="deal_cost" placeholder="Deal cost">
    <input type="submit" value="Deal">
  </form>
  <p id="demnguoc"></p>
  <p id="times"></p>
  <div id="info">
  </div>

  <script src="javascripts/index_socketio.js"></script>

</body>

</html>