<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form id="form_login" action="">
      <input type="text" name="username" id="username" placeholder="Nhập nickname của bạn">
      <input type="submit" value="Login">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        //#region khai báo
        var form_login = document.querySelector('#form_login')
        var inp_username = document.querySelector('#username')

        //#endregion
        form_login.addEventListener('submit',(e)=>{
          e.preventDefault()
          if(inp_username.value){
            socket.emit('new user', inp_username.value)
          }else{
            alert('Vui lòng nhập nickname của bạn!')
          }
        })
        
        socket.on('login success',(token)=>{
          sessionStorage.setItem('token', token)
          window.location.href = "http://localhost:3000";
        })

    </script>
  </body>
</html>
